body {
  display: flex;
  flex-direction: column;
  background: #000;
}
#heading {
  flex: 0 0 auto;
  padding: 20px 0;
}
#heading #settings {
  display: inline-block;
  float: right;
  max-height: 20px;
  display: none;
}
#heading #settingspanel {
  border: 1px solid #ddd;
  padding: 10px;
  z-index: 4;
  position: relative;
  background: #333;
  color: #ddd;
  font-family: sans-serif;
  font-weight: lighter;
  display: none;
}
#heading #settingspanel.show {
  display: block;
}
#heading #cogbutton {
  color: ddd;
  font-size: 20px;
  cursor: default;
  text-align: right;
}
#heading h1 {
  color: ddd;
  font-family: sans-serif;
  font-weight: lighter;
  padding: 0;
  margin: 0;
  line-height: 50%;
}
#editor {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  background: #333;
  color: #ddd;
  font-family: monospace;
  border: 1px solid #ddd;
  padding: 10px;
  counter-reset: lines;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.line {
  outline: none;
  flex: 0 0 auto;
  display: flex;
}
.line::before {
  flex: 0 0 auto;
  text-align: right;
  padding-right: 10px;
  border-right: 1px solid gray;
  margin-right: 10px;
  color: gray;
  counter-increment: lines; 
  content: counters(lines, "");
  transition: width .6s;
  overflow: hidden;
  white-space: nowrap;
}
.linecontent {
  flex: 1 1 auto;
  margin-bottom: auto;
  min-height: 1em;
  word-break: break-all;
  white-space: pre;
}
.line:hover .linecontent {
  background: rgba(100,100,100,.3);
}
.line:last-child {
  flex: 1 0 auto;
}
.char.select {
  background: rgba(134, 134, 204, 0.6);
}
.startcaret {
  min-height: 1em;
  width: 1px;
  display: inline-block;
}
.caret {
  animation: 1s caret infinite step-end;
}

@keyframes caret {
  0% {
    box-shadow: 1px 0 0 #ddd;
  }
  50% {
    box-shadow: 1px 0 0 transparent;
  }
  100% {
    box-shadow: 1px 0 0 transparent;
  }
}
